* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    height: 100%;
    overflow: hidden;
}

/* main container */
.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

#leftmap {
    flex: 40%;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;

}

#rightcol {
    height: 100%;
    background-color: #fafafa;
    flex: 60%;
    padding: 20px;
    display: block;
}

#rightheader{
    height: 10%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}


#rightdash {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    display: none;
}

#rightabout {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    display: contents;
    text-align: right;
    position: relative;
}

#rightabout p {
    padding: 0px 100px 20px 150px;
    line-height: 1.6;
}

.chart_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: white;
    padding-top: 100px;
}

.about_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 90%;
    background-color: white;
    padding-top: 100px;
}

#lefttitle {
    font-family: 'Cutive Mono', monospace;
    font-size: 70px;
    padding-bottom: 15px;
    padding-left: 10px;
    position: relative;
}

#navbar {
    display: flex;
    background-color: #fafafa;
    flex-wrap: wrap;
    height: 5%;
    position: relative;
    width: 640px
}

#dash {
    color: #563f46;
    padding: 7.5px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;

}

#about {
    color: #9aaab6;
    padding: 7.5px 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;

}

#about:hover {
    color: #563f46;

}

#rightzip {
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px;
    color: #001a33;
    padding-left: 10px;
    position: relative;
    background: #708090;
    text-align: right;
    padding-right: 30px;
}

#righttitle {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: #001a33;
    padding-bottom: 5px;
    padding-left: 10px;
    position: relative;
    background: #8c99a6;
    text-align: right;
    padding-right: 30px;
}


::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e6e6e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #feb236;
}