.title {
  font-family: 'Cutive Mono', monospace;
  font-size: 70px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.map{
  background-color: #deeaee;
  padding: 10px 10px 10px 7.5px;

}

#navbar {
    display: flex;
    background-color: #fafafa;
    flex-wrap: wrap;
    height: 5%;
}

#dash {
    color: #563f46;
    padding: 7.5px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;

}

#about {
    color: #9aaab6;
    padding: 7.5px 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;

}

#about:hover {
    color: #563f46;

}
