<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Empty map</title>
    <meta
            name="viewport"
            content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
    <script src="http://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script type="text/javascript" src="js/mapboxkey.js"></script>

    <link
            href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css"
            rel="stylesheet"
    />
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>

    mapboxgl.accessToken = data["app-token"];

    var map = new mapboxgl.Map({
        container: "map", // container id
        style: "mapbox://styles/mapbox/streets-v9", // stylesheet location
        center: [-87.6298, 41.8781], // starting position [lng, lat]
        zoom: 14 // starting zoom
    });

    var container = map.getCanvasContainer();
    var svg = d3
        .select(container)
        .append("svg")
        .attr("width", "100%")
        .attr("height", "500")
        .style("position", "absolute")
        .style("z-index", 2);

    function project(d) {
        return map.project(new mapboxgl.LngLat(d[0], d[1]));
    }

    var data = [[-74.5, 40.05], [-74.45, 40.0], [-74.55, 40.0]];

    var dots = svg
        .selectAll("circle")
        .data(data)
        .enter()
        .append("circle")
        .attr("r", 20)
        .style("fill", "ff0000");

    function render() {
        dots
            .attr("cx", function(d) {
                return project(d).x;
            })
            .attr("cy", function(d) {
                return project(d).y;
            });
    }

    map.on("viewreset", render);
    map.on("move", render);
    map.on("moveend", render);
    render(); // Call once to render


</script>
</body>
</html>